/*****  ЗАГОЛОВОК  *******************************************************/

#header {
    height: 100px;
}

#header .logo {
    width: 70px;
    position: absolute;
}

/*****  МЕНЮ  *******************************************************/

#main-menu {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем отступы*/
    padding-left: 100px; /*убираем отступы*/
}

#main-menu a {
    text-decoration: none; /* По умолчанию текст ссылки без подчеркивания */
}

#main-menu a:hover {
    border-bottom: 1px solid blue;
    padding-bottom: 5px;
}

#main-menu li {
    float:left; /*Размещаем список горизонтально для реализации меню*/
    margin-right:5px; /*Добавляем отступ у пунктов меню*/
}

#main-menu li:after {
    margin: 0 20px;
    content: "|";
}

#main-menu li:last-child:after {
    content: "";
}

/*****  ОСНОВНОЙ БЛОК  *******************************************************/

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/*****  ПОДВАЛ  *******************************************************/

#content {
    flex: 1 0 auto;
}

#footer {
    flex: 0 0 auto;
}
